NODE_ENV=development
PORT=3001
APP_URL=http://localhost:3000

DATABASE_URL='postgres://...'

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

AUTH_LOCKOUT_MAX_ATTEMPTS=5
AUTH_LOCKOUT_DURATION_MINUTES=15

COOKIE_DOMAIN=
COOKIE_SECURE=false

RESEND_API_KEY=
RESEND_DOMAIN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://${APP_URL}/api/auth/google/callback

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=http://${APP_URL}/api/auth/facebook/callback

WHATSAPP_API_KEY=
WHATSAPP_API_URL=https://graph.facebook.com/v17.0/105417187188
